.tournament {
	display: flex;
	flex-direction: row;
}
.tournament .round {
	font-size: .75em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 200px;
	list-style: none;
	padding: 0;
}
.tournament .round .spacer {
	flex-grow: 2;
}
.tournament .round .spacer:first-child, 
.tournament .round .spacer:last-child {
	flex-grow: 1;
}

.region {
	font-size: 1.5em;
	font-weight:bold;
}
.region-right {
	text-align:right;
	padding-right: 5px;
}
.region-left {
	text-align:left;
	padding-left: 5px;
}

ul.seed li.game-left span:first-child,
ul.seed li.game-right span:last-child {
	font-size: 0.5em;
}

li.game-right {
	text-align: right;
	border-left: 1px solid #aaa;
}
li.game-left {
	border-right: 1px solid #aaa;
}
li.game-bottom {
	border-bottom: 1px solid #aaa;
}
li.game-top {
	border: none;
	border-bottom: 1px solid #aaa;
}
li.game-left.spacer {
	border-right: 1px solid #aaa;
	min-height: 5px;
	padding-right:.25em;
}
li.game-right.spacer {
	border-left: 1px solid #aaa;
	min-height: 5px;
	padding-left:.25em;
	text-align: left;
}

.final {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border: 1px solid #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight:bold;
}
.finals .centered {
	text-align:center;
	font-weight:bold;
}
.finals .centered > input {
	display:block;
	width:4em;
	margin: 0 auto 0 auto;
	text-align:center;
}

.body-first-child {
	margin-top: -45px;
}
.extra-padding {
	padding-top: 45px;
}

.team-info{}
  
.winners {}
  
.brackets-page select {
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.submission{}
